.marked {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  color: #fff;
}

.marked .pl-c {
  color: #6a737d;
}

.marked .pl-c1,
.marked .pl-s .pl-v {
  color: #005cc5;
}

.marked .pl-e,
.marked .pl-en {
  color: #6f42c1;
}

.marked .pl-smi,
.marked .pl-s .pl-s1 {
  color: #24292e;
}

.marked .pl-ent {
  color: #22863a;
}

.marked .pl-k {
  color: #d73a49;
}

.marked .pl-s,
.marked .pl-pds,
.marked .pl-s .pl-pse .pl-s1,
.marked .pl-sr,
.marked .pl-sr .pl-cce,
.marked .pl-sr .pl-sre,
.marked .pl-sr .pl-sra {
  color: #032f62;
}

.marked .pl-v,
.marked .pl-smw {
  color: #e36209;
}

.marked .pl-bu {
  color: #b31d28;
}

.marked .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.marked .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.marked .pl-c2::before {
  content: "^M";
}

.marked .pl-sr .pl-cce {
  font-weight: bold;
  color: #22863a;
}

.marked .pl-ml {
  color: #735c0f;
}

.marked .pl-mh,
.marked .pl-mh .pl-en,
.marked .pl-ms {
  font-weight: bold;
  color: #005cc5;
}

.marked .pl-mi {
  font-style: italic;
  color: #24292e;
}

.marked .pl-mb {
  font-weight: bold;
  color: #24292e;
}

.marked .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.marked .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.marked .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.marked .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.marked .pl-mdr {
  font-weight: bold;
  color: #6f42c1;
}

.marked .pl-ba {
  color: #586069;
}

.marked .pl-sg {
  color: #959da5;
}

.marked .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.marked .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.marked a {
  background-color: transparent;
}

.marked a:active,
.marked a:hover {
  outline-width: 0;
}

.marked strong {
  font-weight: inherit;
}

.marked strong {
  font-weight: bolder;
}

.marked h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.marked img {
  border-style: none;
}

.marked code,
.marked kbd,
.marked pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.marked hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.marked input {
  font: inherit;
  margin: 0;
}

.marked input {
  overflow: visible;
}

.marked [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.marked * {
  box-sizing: border-box;
}

.marked input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.marked a {
  color: #0366d6;
  text-decoration: none;
}

.marked a:hover {
  text-decoration: underline;
}

.marked strong {
  font-weight: 600;
}

.marked hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.marked hr::before {
  display: table;
  content: "";
}

.marked hr::after {
  display: table;
  clear: both;
  content: "";
}

.marked table {
  border-spacing: 0;
  border-collapse: collapse;
}

.marked td,
.marked th {
  padding: 0;
}

.marked h1,
.marked h2,
.marked h3,
.marked h4,
.marked h5,
.marked h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.marked h1 {
  font-size: 32px;
  font-weight: 600;
}

.marked h2 {
  font-size: 24px;
  font-weight: 600;
}

.marked h3 {
  font-size: 20px;
  font-weight: 600;
}

.marked h4 {
  font-size: 16px;
  font-weight: 600;
}

.marked h5 {
  font-size: 14px;
  font-weight: 600;
}

.marked h6 {
  font-size: 12px;
  font-weight: 600;
}

.marked p {
  margin-top: 0;
  margin-bottom: 10px;
}

.marked blockquote {
  margin: 0;
}

.marked ul,
.marked ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.marked ol ol,
.marked ul ol {
  list-style-type: lower-roman;
}

.marked ul ul ol,
.marked ul ol ol,
.marked ol ul ol,
.marked ol ol ol {
  list-style-type: lower-alpha;
}

.marked dd {
  margin-left: 0;
}

.marked code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.marked pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.marked .octicon {
  vertical-align: text-bottom;
}

.marked .pl-0 {
  padding-left: 0 !important;
}

.marked .pl-1 {
  padding-left: 4px !important;
}

.marked .pl-2 {
  padding-left: 8px !important;
}

.marked .pl-3 {
  padding-left: 16px !important;
}

.marked .pl-4 {
  padding-left: 24px !important;
}

.marked .pl-5 {
  padding-left: 32px !important;
}

.marked .pl-6 {
  padding-left: 40px !important;
}

.marked::before {
  display: table;
  content: "";
}

.marked::after {
  display: table;
  clear: both;
  content: "";
}

.marked>*:first-child {
  margin-top: 0 !important;
}

.marked>*:last-child {
  margin-bottom: 0 !important;
}

.marked a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.marked .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.marked .anchor:focus {
  outline: none;
}

.marked p,
.marked blockquote,
.marked ul,
.marked ol,
.marked dl,
.marked table,
.marked pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.marked hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.marked blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.marked blockquote>:first-child {
  margin-top: 0;
}

.marked blockquote>:last-child {
  margin-bottom: 0;
}

.marked kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.marked h1,
.marked h2,
.marked h3,
.marked h4,
.marked h5,
.marked h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.marked h1 .octicon-link,
.marked h2 .octicon-link,
.marked h3 .octicon-link,
.marked h4 .octicon-link,
.marked h5 .octicon-link,
.marked h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.marked h1:hover .anchor,
.marked h2:hover .anchor,
.marked h3:hover .anchor,
.marked h4:hover .anchor,
.marked h5:hover .anchor,
.marked h6:hover .anchor {
  text-decoration: none;
}

.marked h1:hover .anchor .octicon-link,
.marked h2:hover .anchor .octicon-link,
.marked h3:hover .anchor .octicon-link,
.marked h4:hover .anchor .octicon-link,
.marked h5:hover .anchor .octicon-link,
.marked h6:hover .anchor .octicon-link {
  visibility: visible;
}

.marked h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.marked h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.marked h3 {
  font-size: 1.25em;
}

.marked h4 {
  font-size: 1em;
}

.marked h5 {
  font-size: 0.875em;
}

.marked h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.marked ul,
.marked ol {
  padding-left: 2em;
}

.marked ul ul,
.marked ul ol,
.marked ol ol,
.marked ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.marked li {
  word-wrap: break-all;
}

.marked li>p {
  margin-top: 16px;
}

.marked li+li {
  margin-top: 0.25em;
}

.marked dl {
  padding: 0;
}

.marked dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.marked dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.marked table {
  display: block;
  width: 100%;
  overflow: auto;
}

.marked table th {
  font-weight: 600;
}

.marked table th,
.marked table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.marked table tr {
  background-color: rgba(0, 0, 0, .3);
  border-top: 1px solid #c6cbd1;
}

.marked table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, .5);
}

.marked img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.marked img[align=right] {
  padding-left: 20px;
}

.marked img[align=left] {
  padding-right: 20px;
}

.marked code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.marked pre {
  word-wrap: normal;
}

.marked pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.marked .highlight {
  margin-bottom: 16px;
}

.marked .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.marked .highlight pre,
.marked pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 3px;
}

.marked pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.marked .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.marked kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

.marked :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.marked .task-list-item {
  list-style-type: none;
}

.marked .task-list-item+.task-list-item {
  margin-top: 3px;
}

.marked .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.marked hr {
  border-bottom-color: #eee;
}