html,body,div,span,
h1,h2,h3,h4,h5,h6,p,
ol,ul,li,label,
table,tr,th,td,
main,section,article,figure,figcaption,
header,footer,nav,
audio,video,img
  margin: 0
  padding: 0
  border: 0
  outline: 0;
  font-size: 100%
  vertical-align: baseline

ul
  display: block
  list-style: none

a
  text-decoration: none
  &:hover
    text-decoration: none

form
  display: block

h1,h2,h3,h4,h5,h6
  display: block
  font-size: 1.17em
  -webkit-margin-before: 1em
  -webkit-margin-after: 1em
  -webkit-margin-start: 0
  -webkit-margin-end: 0
  font-weight: bold

img
  border: none
  display: block
  height: auto
  max-width 100%