// 边距 & 菜单宽度
$column = 5.55555%
$menu-width = 270px

// 颜色
$image-background = linear-gradient(to top, #37ecba 0%, #72afd3 100%)
$content-background = #fff
$color-text = #fff
$color-text-a = rgba(255, 255, 255, .5)
$color-text-b = rgba(255, 255, 255, .6)
$color-text-c = rgba(255, 255, 255, .9)

// 字体
$font-size-small-s = .5rem
$font-size-small = 1rem
$font-size-medium = 1.5rem
$font-size-medium-m = 1.8rem
$font-size-big = 2rem